.logo {
            display: flex;
            align-items: center;
            justify-content: start;

            margin: 1.5rem 0;

            &__text {
                margin-left: 1.2rem;
            }
}